{% extends '/index.html.twig' %}

{% block title %}Błąd!{% endblock %}

{% block content %}
    <div class="strona-glowna">
        <h1>Wystąpił błąd</h1>
        <p>{{ message }}</p>
        <p>Możesz przejść na <a href="">stronę główną</a> lub skontaktować się z administratorem</p>
    </div>
{% endblock %}