{% extends '/index.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <div class="strona-glowna">
        <h1>Witaj</h1>
        w naszej wypożyczalni. Tutaj znajdziesz swój wymarzony samochód.
    </div>
{% endblock %}